extends layout

block content
  div(class='container-fluid')
  
  // Place image slideshow here.

  h2 EWB SJSU Chapter. Mission Statement.
  p 
    | "To partner with disadvantaged communities to improve their quality of life though the implementation
    | of environmentally sound and economically sustainable engineering projects, while developing internationally
    | responsbile engineering students."

  div(class='about-ewb-sjsu')
    h2 About EWB-SJSU
    // Place image slideshow here.
    p San Jose State University's Engineers Without Borders (Student Chapter) was founded in 2006 by a group of passionate
      | students whose vision and enthusiasm aimed to transform a formal engineering education, though engaging in and developing
      | humanitarian projects. Our vision is to help communities come together, and stay together, through sustainable engineering.
      | Though international engineering opportunities, our members have unique, global perspectives.

    p Our first project, worked on from 2007 to 2010, was a disabled-access ramp for a local campsite. Since then, we have worked on
      | numerous projects, inluding sending several students to Honduras and Tanzania to build irrigation systems. As such is the
      | case, we are a part of an internationally distinguished organization, who holds no bounds to help the world. Not to
      | mention, we work with national government organizations to develop management, technological, and entreprenuerial skills.

  div(class='our-projects')
    h2 Projects
    // Display these as cards, and have images attached to them
    ul
      li 
        a(href='') Community Engineering Corps
      li 
        a(href='') Ecuador
      li
        a(href='') Honduras
      li
        a(href='') Camp Costanoan
      li
        a(href='') Middlebrooke Farms
      li
        a(href='') Hester Farms

  // Display a banner that presents all of our partners and sponsorships

  div(class='upcoming-events')
    h2 Upcoming Events
    h4 View our Google calendar to check-out the latest events
    // Insert Google calendar.

  div(class='our-team')
    h2 Our Team
    // Include cards of all of the team members, in order from highest of importance to lowest.

  div(class='social-media')
    h2 Social Media
    // Have icons for links to our different social media pages.

  div(class='contact-us')
    h2 Contact Us
    // Display map that places a tag on SJSU
    div(class='how-to-get-involved')
      h4 How to Get Involved
      p Please fill out form below to start getting relevant emails. Year-round, we are looking
      | for bright, enthusiastic recruits who are looking to make a difference in the world. Join us!
      // Have a form
      // First Name * Last Name * Email * Quick Message


  div(class='donations')
    h2 Donations
    div
      h4 Patreon
      a(class='btn btn-primary' href='https://www.patreon.com/') Donate Now

